<div class="action-button">
    <a href="{{ whatsapp_url }}" class="{{ link_class }}" target="_blank" data-tooltip="{{ link_text }}">
        <i class="bi bi-whatsapp" style="color: #25d366;"></i></a>
</div>
