<div class="pinterest-this {{ link_class }}" data-tooltip="Save to Pinterest" style="padding-left:10px;">
    <a data-pin-do="buttonPin" {% if pin_count %}data-pin-count="beside" {% endif %} href="{{ pinterest_url }}" target="_blank" style="vertical-align: -.8em !important;"></a>
</div>
