{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="global-container">
        {% include 'includes/messages.html' %}

        <div class="row justify-content-md-center">
            <div class="col-lg-4 col-md-7 white-box px-3">
                <h1 class="mb-3">Login</h1>

                <form method="POST">
                    {% csrf_token %}

                    {{ form|crispy }}
                    <input class="btn btn-success w-100 mt-3 mb-2" type="submit" value="Login"
                           style="margin-top:10px;"/>
                </form>
                <br>
{#                <p>Don't have an account? <a style="text-decoration: none;"#}
{#                                             href="{% url 'accounts:signup' %}">Register</a></p>#}
            </div>
        </div>
    </div>

{% endblock %}