{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <div class="global-container">
        {% include 'includes/messages.html' %}

        <div class="container" style="margin-top: 80px;">
            <h2>Sign Up</h2>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit">Sign Up</button>
            </form>
        </div>

    </div>
{% endblock %}