{% extends '_base.html' %}

{% block title %}
    Confirm Message Delete
{% endblock %}


{% block content %}
    <div class="global-container">

        <div class="row justify-content-md-center mt-30">
            <div class="col-lg-6 white-box p-4">


                <form method="POST">
                    {% csrf_token %}
                    <h3>Are you sure you want to delete this message from <b>{{ message.name|title }}</b>?</h3>
                    <div class="d-flex justify-content-between mt-3">
                        <a class="btn btn-outline-secondary btn-sm" href="{% url 'accounts:message' message.pk %}">Back</a>
                        <input type="submit" class="btn btn-danger btn-sm" value="Delete"/>
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock content %}

