{% extends '_base.html' %}

{% block title %}
    Messages
{% endblock %}

{% block content %}
    <div class="global-container text-center">
        <div class="col-xl-8 col-lg-10 white-box mx-auto">

            <h1 class="subheading">Messages</h1>
            <hr class="half-gradient-hr mb-5">

            <div class="table-responsive">
                <table class="table align-middle table-hover">
                    <thead class="table-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date Sent</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Message</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for message in messages %}
                        <tr class='clickable-row'
                            data-href={% url 'accounts:message' message.pk %} style="cursor:pointer;">
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ message.date_sent|date:"d M Y, G:i" }}</td>
                            <td>{{ message.name }}</td>
                            <td>{{ message.email }}</td>
                            <td class="text-start">{{ message.message|truncatewords:33 }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script>
        $(".clickable-row").click(function () {
            window.location = $(this).data("href");
        });
    </script>
{% endblock javascript %}