{% extends '_base.html' %}

{% block title %}
    Message from {{ message.name|title }}
{% endblock %}

{% block content %}

    <div class="global-container text-center">

        <div class="col-xl-8 col-lg-10 white-box mx-auto">

            <h2>Message from {{ message.name|title }}</h2>
            <hr class="half-gradient-hr">
            <h6 class="mb-5">Sent on <b>{{ message.date_sent|date:"d M Y" }}</b> at
                <b>{{ message.date_sent|date:"G:i" }}</b>
            </h6>

            <div class="p-3 text-start">
                <div class="bg-light p-2" style="border-radius: 8px;">
                    <p class="lead">{{ message.message }}</p>
                </div>
                <div class="d-flex justify-content-between mt-5">
                    {% if request.user.is_authenticated and request.user.is_staff %}
                        <div>
                            <a class="btn btn-danger btn-sm" href="{% url 'accounts:delete_message' message.pk %}">Delete
                                message
                            </a>
                        </div>
                    {% endif %}
                    <div>
                        <button onclick="window.location.href='{% url 'accounts:messages' %}'" style="min-width:120px;"
                                class="btn btn-outline-secondary btn-sm">Back to Messages
                        </button>
                        <button type="submit" class="btn btn-success btn-sm ml-2"
                                onclick="location.href='mailto:{{ message.email }}?subject=Reply:&nbsp;{{ message.message|truncatewords:12 }}';"
                                style="min-width:120px; margin-left:10px;">Reply
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
