@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@import url(//fonts.googleapis.com/css?family=Abril+Fatface|Droid+Serif:400,700,400italic,700italic);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

html,
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    background: #ffffff;
    background: linear-gradient(to bottom, #ece9e6, #ffffff);
}


/**************************
  1. Home Page & Global Elements
**************************/

/* HOMEPAGE TITLE */
.homepage-title {
    position: absolute;
    z-index: 1;
    height: inherit;
    top: calc(50% / 1.29);
    width: 100%;
    display: flex;
}

.header-heading {
    text-align: end;
    color: rgba(255, 255, 255, 0.8);
}

.main-heading {
    font-family: 'Aladin', cursive;
    font-size: 12vmin;
    align-items: center;
}

.sub-heading {
    font-family: 'Zilla Slab Highlight', cursive;
    font-size: 5vmin;
}

.subheading {
    font-size: calc(4vmin + 12px);
    color: rgba(83, 82, 82, 0.79);
    margin-bottom: 12px;
}

.about-me-subheading {
    font-size: calc(1vmin + 15px)
}

.about-me-text {
    font-size: calc(1vmin + 11px)
}

@media screen and (max-width: 700px) {
    .main-heading {
        font-size: 7vmin;
    }

    .sub-heading {
        font-size: 3vmin;
    }
}

/* Homepage Carousel */
#homepage_carousel {
    max-height: 900px;
}

.carousel-inner {
    max-height: 900px;
}

.carousel-item {
    max-height: 900px;
}

.carousel-control-prev,
.carousel-control-next {
    max-height: 900px;
}

/* Contact form */
.contact-form-container {
    padding: 60px 30px;
}

.contact-form-group {
    margin: auto;
}

.global-container {
    padding-top: 150px;
}

.white-box {
    background-color: #ffffff;
    -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
    box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
    border-radius: 8px;
    padding: 15px;
}

.form-photo-box {
    background: #ECE9E6;
    border-radius: 8px;
    padding: 0;
}

.half-gradient-hr {
    width: 50%;
    margin: 1em auto;
    background: linear-gradient(to right, transparent, black, transparent);
}

.quarter-gradient-hr {
    width: 25%;
    margin: 1em auto;
    background: linear-gradient(to right, transparent, black, transparent);
}

/* Bootstrap Alerts Customization */
.alert {
    padding-top: .6rem !important;
    padding-bottom: .6rem !important;
}

.alert .btn-close {
    height: .5em !important;
}


/**************************
  2. Navbar section
**************************/
.main-nav {
    width: 100%;
    /*height: 25px;*/
    position: absolute;
    display: inline-block;
    line-height: 65px;
    text-align: center;
    z-index: 11;
    padding-top: 2px;
}

.main-nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 2rem;
}

.main-nav div.logo a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 5px 10px;
    color: #ffffff;
    text-shadow: 0 0 5px rgb(0, 0, 0),
    1px 1px 2px rgb(0, 0, 0),
    2px 2px 10px rgb(0, 0, 0);
}

.main-nav div.logo a:hover {
    color: rgb(0, 0, 0);
    text-shadow: 0 0 5px rgb(255, 255, 255),
    1px 1px 2px rgb(255, 255, 255),
    2px 2px 10px rgb(255, 255, 255);
}

.main-nav div.main_list {
    height: 65px;
    float: right;
}

.main-nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0 2px;
}

.main-nav div.main_list ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    mix-blend-mode: multiply;
    line-height: 65px;
    font-size: 1.4rem;
    /*font-weight: bold;*/
    padding: 0 5px;
    text-shadow: 0 0 5px rgb(0, 0, 0),
    1px 1px 2px rgb(0, 0, 0),
    2px 2px 10px rgb(0, 0, 0);

}

.main-nav div.main_list ul li a:hover {
    color: #000000;
    text-shadow: 0 0 5px rgb(255, 255, 255),
    1px 1px 2px rgb(255, 255, 255),
    2px 2px 10px rgb(255, 255, 255);
}

#mainListDiv {
    padding-right: 2rem;
}

.navTrigger {
    display: none;
}

.main-nav {
    padding-top: 12px;
    padding-bottom: 12px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* Media query for navbar */
@media screen and (min-width: 993px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width: 993px) {
    .navTrigger {
        display: block;
        z-index: 11;
    }

    #mainListDiv {
        padding-right: 0;
        max-width: 400px;
    }

    .main-nav div.logo {
        padding-top: 0 !important;
    }

    .main-nav div.logo a {
        font-size: 1.4rem;
    }

    .main-nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }

    .main-nav div.show_list {
        height: auto;
        display: none;
    }

    .main-nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 16rem; /*70vh;*/
        right: 0;
        left: 0;
        bottom: 0;
        background: #ffffff;
        background-position: center top;
        border-radius: 10px;
    }

    .main-nav div.main_list ul li {
        width: 100%;
        height: 50px;
        text-align: center;
        color: #000;
        font-weight: bold;
    }

    .main-nav div.main_list ul li a:hover {
        color: #ffffff;
        font-weight: bold;
        text-shadow: 1px 1px 5px rgb(0, 0, 0),
        5px 5px 5px rgb(0, 0, 0),
        -2px -2px 15px rgb(0, 0, 0);
    }

    .main-nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 1.3rem;
    }

    .main-nav div.media_button {
        display: block;
    }
}

@media screen and (max-width: 400px) {
    .logo {
        padding-left: 1px !important;
        margin-left: 1px !important;
    }

    .main-nav div.logo a {
        font-size: calc(1vw + 14px);
        white-space: nowrap;
        padding-left: 1px;
    }
}

/* Smaller screens hamburger menu with animation */
.navTrigger {
    cursor: pointer;
    width: 30px;
    /*height: 65px;*/
    margin: auto;
    position: absolute;
    right: 30px;
    top: 35px;
    /*bottom: 0;*/
}

.navTrigger i {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.30) 50%, rgba(0, 0, 0, 0.64) 100%);
}

/* Navbar search bar */
.search_bar[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}

.search_bar::-webkit-search-decoration,
.search_bar::-webkit-search-cancel-button {
    display: none;
}

.search_bar[type=search] {
    background: rgba(255, 255, 255, 0.25) url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 10px center;
    color: #0d2840;
    outline: none;
    border: none;
    width: 5px;
    height: 16px;
    margin-top: 15px;
    padding: 7px 3px 7px 32px;

    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .3s cubic-bezier(0, 0, .5, 1.5);
}

.search_bar[type=search]:focus {
    width: 130px;
    background-color: rgba(255, 255, 255, 0.8);
    border-color: rgba(90, 92, 92, 0.58);

    -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    box-shadow: 0 0 5px rgba(109, 207, 246, .5);
}

.search_bar[value]:not[value=""] {
    width: 130px;
}

.search_bar:-moz-placeholder {
    color: #999;
}

.search_bar::-webkit-input-placeholder {
    color: #999;
}


/**************************
  3. Blog section
**************************/
.post-header-img {
    height: calc(18vw + 180px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.post-info-container {
    display: inline-block;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.99);
    bottom: 0;
    margin: auto;
    margin-bottom: 5%;
    border-radius: 1px;
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.25);
}

.post-info-container h1 {
    font-size: calc(2vw + 14px);
}

.post-info-container h6 {
    font-size: calc(0.5vw + 10px);
}

.post-text {
    font-size: calc(0.7vw + 12px);
}

@media screen and (max-width: 560px) {
    .post-info-container {
        margin-bottom: 10%;
    }

    .post-info-container .half-gradient-hr {
        display: none;
    }
}

.blog-card {
    max-width: 1000px;
    width: 100%;
    height: 400px;
    position: relative;
    font-family: 'Droid Serif', serif;
    color: #fff;
    /*right: 0;*/
    /*left: 0;*/
    padding: 5px;
    margin-bottom: 25px;
    overflow: hidden;
    border-radius: 7px;
    box-shadow: 0 10px 20px -9px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition: all 0.2s;
    background-size: cover !important;
}

.blog-card a {
    color: #fff;
    text-decoration: none;
    transition: all 0.2s
}

.blog-card .color-overlay {
    background: rgba(64, 84, 94, 0.2);
    width: 1000px;
    height: 600px;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.blog-card .gradient-overlay {
    background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.1) 21%);
    width: 1000px;
    height: 600px;
    position: absolute;
    top: 350px;
    left: 0;
    z-index: 4;
}

.unpublished {
    opacity: 0.45;
}

.blog-card:hover {
    box-shadow: 0 18px 20px -9px rgba(0, 10, 30, 0.75);

}

.blog-card:hover .card-info {
    opacity: 1;
    bottom: 100px;
}

.blog-card:hover .color-overlay {
    background: rgba(64, 64, 70, 0.7);
}

.blog-card:hover .title-content {
    margin-top: 70px
}

.title-content {
    text-align: center;
    margin: 170px 0 0 0;
    position: absolute;
    z-index: 5;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 0.6s
}

.blog-card:hover h3:after {

    animation: changeLetter 0.3s 1 linear;
    width: 80%
}

.blog-card h3, h1 {
    font-size: 2.4em;
    font-weight: 400;
    letter-spacing: 3px;
    font-family: 'Abril Fatface', serif;
    margin-bottom: 0;
    display: inline-block;
}

.blog-card h4 {
    font-size: calc(2.8vmin + 12px);
    font-weight: 400;
    letter-spacing: 3px;
    font-family: 'Abril Fatface', serif;
    margin-bottom: 0;
    display: inline-block;
}

.blog-card h3 a {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.2s
}

.blog-card h3 a:hover {
    text-shadow: 0 8px 20px rgba(0, 0, 0, 0.95);
}

h3:after {
    content: " ";
    display: block;
    width: 10%;
    height: 2px;
    margin: 10px auto;
    border: 0;
    background: rgba(255, 255, 255, 0.6);
    transition: all 0.2s
}

@keyframes changeLetter {
    0% {
        width: 10%;
    }
    100% {
        width: 80%;
    }
}

.card-info {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    bottom: -80px;
    left: 0;
    margin: 0 auto;
    padding: 0 30px;
    font-size: 1rem;
    line-height: 2;
    z-index: 5;
    opacity: 0;
    transition: bottom 0.64s, opacity 0.63s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.card-info a {
    display: block;
    width: 130px;
    margin: 7px auto;
    background: #fff;
    color: #444;
    padding: 3px 10px;
    border-radius: 10px;
    font-size: 1.2rem;
}

.card-info a:hover {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.17) 100%);
    color: #fff;
}

.card-info a:hover span {
    filter: brightness(10);
    opacity: 1
}

.utility-info {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    text-align: left
}

.utility-info:after {
    content: " ";
    background-size: 30px auto;
    display: block;
    opacity: 0.4;
    position: absolute;
    bottom: 25px;
    right: 15px;
    width: 30px;
    height: 15px
}

.utility-info a:hover {
    text-decoration: underline
}

.utility-list {
    list-style-type: none;
    margin: 0 0 10px 20px;
    padding: 0;
    width: 100%;

}

.utility-list li {
    margin: 0 5px 0 0;
    padding: 3px 0 15px 15px;
    display: inline-block;
    font-size: 1em;
    font-family: "Quicksand", sans-serif;
}


@media (max-width: 768px) {
    .utility-info {
        text-align: center;
    }

    .utility-info ul {
        width: 100%;
        margin: 0;
        box-sizing: border-box
    }

    .utility-info li {
        width: 32%;
        display: inline-block;
        box-sizing: border-box;
        margin: 0;
    }
}

@media (max-width: 480px) {
    .utility-info li {
        font-size: 14px;
    }

    .card-info {
        display: none
    }

    .blog-card:hover .title-content, .title-content {
        margin-top: 40px
    }

    .blog-card {
        height: 200px
    }

    .blog-card h3 {
        font-size: 1.9em
    }
}

@media (max-width: 1080px) {
    .blog-card {
        height: 300px
    }

    .blog-card:hover .title-content, .title-content {
        margin-top: 10%;
    }

    .blog-card .title-content {
        margin-top: 25%;
    }
}

/* Post Action Container */
.post-action-container {
    padding: 1rem;
    display: inline-block;
}

.action-button {
    font-size: 22px;
    cursor: pointer !important;
    padding: 5px;
    display: inline-block;
}

.action-button:hover {
    color: black;
}

.edit-button {
    color: rgb(222, 181, 49);
}

.delete-button {
    color: #e50303;
}

.private-share-button {
    color: #004ec9;
}

.post-action-tag,
.post-action-form {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 25px;
    margin: 3px 2px;
    padding: 0;
    border: 0;
    vertical-align: center;
}


/* Tag form */
#tag-form input[type=text] {
    background: rgba(236, 233, 230, 0.26) url(https://img.icons8.com/ios-glyphs/20/000000/plus-math.png) no-repeat 1px center;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 30px;
    height: 25px;
    padding-left: 10px;
    cursor: pointer;
}

#tag-form input[type=text]:focus {
    width: 120px;
    padding-left: 28px;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    background-color: rgba(108, 117, 125, 0.29);
    cursor: auto;
}

/* Tooltips */
[data-tooltip] {
    position: relative;
    cursor: default;
}

[data-tooltip]::after {
    position: absolute;
    /*min-width: 120px;*/
    left: calc(50% - 50px);
    bottom: 125%;
    content: attr(data-tooltip);
    text-align: center;
    box-sizing: border-box;
    color: white;
    background: black;
    padding: 3px 3px;
    border-radius: 5px;
    font-size: .8rem;
    font-weight: bold;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s, transform 0.2s;
}

[data-tooltip]:hover::after {
    opacity: .98;
    visibility: visible;
    transform: translateY(0);
}

/* Popovers */
.popover-header {
    margin: 0 auto;
    text-align: center;
    color: #5877aa;
    font-weight: bold;
}

.popover-header:after {
    content: "" !important;
    margin: 0;
}

.popover-body {
    padding: 10px !important;
}

.popover-body ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.popover-body ul li {
    padding-bottom: 3px;
}

.popover-body a {
    text-decoration: none;
    color: rgb(104, 150, 223);
    font-weight: bold;
}


/**************************
  4. Album section
**************************/

/* Masonry Layout for Albums */
.masonry {
    display: flex;
    width: 100%;
}

.masonry--h {
    flex-flow: row wrap;
}

.masonry-brick {
    overflow: hidden;
    border-radius: 5px;
    margin: 0 0 8px 8px;
    background-color: #333;
    color: white;
    position: relative;
}

.masonry-brick--h {
    flex: auto;
    height: 300px;
    min-width: 200px;
}

.masonry-brick:nth-child(4n+1) {
    width: 200px;
}

.masonry-brick:nth-child(4n+1):nth-child(4n+2) {
    width: 290px;
}

.masonry-brick:nth-child(4n+1):nth-child(4n+3) {
    width: 220px;
}

.masonry-brick:nth-child(4n+1):nth-child(4n+4) {
    width: 325px;
}

.masonry-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform .6s ease;
}

.masonry-img:hover {
    transform: scale(1.1);
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 12px;
    align-items: stretch;
}

.grid-img {
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.photo-action {
    color: #ffffff;
    margin-top: -40px;
    height: 40px;
    z-index: 13;
}

.photo-action i {
    font-size: 22px;
    padding-right: 10px;
}

.album-token-url {
    max-width: 260px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
"
}


.photo-container {
    overflow: hidden;
    /*height: fit-content;*/
    padding: 0;
    display: block;
    position: relative;
    float: left;
    margin-bottom: 0 !important;
}

.grid-img {
    width: 100%;
    transition-duration: .3s;
    max-width: 100%;
    display: block;
    overflow: hidden;
    cursor: pointer;
}

.favorite-img {
    filter: sepia(30%);
    opacity: 0.5;
}

.photo-container:hover:hover .favorite-img {
    filter: sepia(20%);
    opacity: 0.5;
}

.photo-container:hover img {
    transform: scale(1.05);
    transition-duration: .3s;
    filter: grayscale(20%);
    opacity: .9;
}

.photo-container:hover span {
    color: white;
    display: block;
    transition-duration: .2s;
}

.image-action-container {
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    transition-duration: .3s;
    text-shadow: 1px 5px 10px rgb(255, 255, 255);

}

.photo-container:hover > .image-action-container {
    bottom: 0;
}

.photo-container:hover > .image-action-icon i {
    text-shadow: 1px 1px 4px rgb(0, 0, 0),
    2px 3px 7px rgb(0, 0, 0),
    3px 4px 10px rgb(0, 0, 0),
    0 0 20px rgb(0, 0, 0);
}

.image-action-icon i {
    color: white;
    text-shadow: 2px 3px 7px rgb(0, 0, 0),
    3px 4px 10px rgb(0, 0, 0);
    font-size: 18px;
    padding: 7px 18px 5px 0;
    cursor: pointer;
}

.image-action-icon.active.focus, .image-action-icon.active:focus,
.image-action-icon.focus, .image-action-icon:active.focus,
.image-action-icon:active:focus, .image-action-icon:focus {
    outline: none;
    box-shadow: none;
    background-color: white;
}

.image-action-icon i:hover {
    font-size: 20px;
    color: #ffc027;
    text-shadow: 1px 1px 4px rgb(0, 0, 0),
    2px 3px 7px rgb(0, 0, 0),
    3px 4px 10px rgb(0, 0, 0),
    -1px -1px 10px rgb(0, 0, 0),
    0 0 20px rgb(0, 0, 0);
}

.footer-link {
    text-decoration: none;
    color: black;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo-card {
    /*max-height: 70vh;*/
    padding: 5px;
    margin-bottom: 25px;
    border-radius: 7px;
    box-shadow: 0 10px 20px -9px rgba(0, 0, 0, 0.5);
    transition: all 0.2s;
    background-size: cover !important;
}

.photo-card:hover {
    box-shadow: 0 18px 20px -9px rgba(0, 10, 30, 0.75);
}

.comment-input textarea {
    height: 100px !important;
}