<nav class="nav main-nav">
    <div class="container">
        <div class="logo">
            <a href="{% url 'photos:home' %}">Django Photography</a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <li><a href="{% url 'blog:home' %}">Blog</a></li>
                <li><a href="{% url 'photos:albums' %}">Portfolio</a></li>
                {#                <li><a href="{% url 'photos:home' %}#contact-form">Contact</a></li>#}

                <li><a data-bs-toggle="modal"
                       href="#contactMessageModal"
                       role="button">Contact</a></li>

                {% if request.user.is_authenticated %}
                    <li>
                        <a href="#"
                           id="user-menu"
                           data-bs-toggle="popover"
                           data-bs-trigger="focus"
                           html="true"
                           data-html="true"

                           title="{{ request.user.username|title }}"

                           data-bs-content="<ul>
                                            <li><a href='{% url 'accounts:messages' %}'>Messages</a></li>
                                            <li><a href='{% url 'photos:private_albums' %}'>Private albums</a></li>
                                            <li><a href='{% url 'blog:create_bulk' %}'>Create Post</a></li>
                                            <li><a href='{% url 'photos:album_create_bulk' %}'>Create Album</a></li>
                                            <li><a href='{% url 'accounts:logout' %}'>Logout <i class='bi bi-box-arrow-right'></i></a></li>
                                        </ul>"

                           data-bs-placement="bottom">
                            <i class="bi bi-person" style="font-size: 1.5rem;"></i>
                        </a>
                    </li>
                {% endif %}
                <li>
                    <div>
                        <form class="search-box d-flex justify-content-center" method="get"
                              action="{% url 'photos:search' %}" autocomplete="off">
                            <input class="search_bar" name="q" type="search" value='{{ request.GET.q }}'>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
    </div>
</nav>

<!-- Contact Message Modal -->
<div class="modal fade" id="contactMessageModal" tabindex="-1" aria-labelledby="contactMessageModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light py-2 px-4">
                <h1 class="modal-title" id="contactMessageModalLabel">Send me a message</h1>
                <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body m-2">

                <form id="contact-form" method="post" class="row">
                    {% csrf_token %}

                    <div class="col-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="contact-form-name" name="name"
                                   placeholder="Name" required>
                            <label for="contact-form-name">Name</label>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-floating">
                            <input type="email" class="form-control" id="contact-form-email" name="email"
                                   placeholder="Email" required>
                            <label for="contact-form-email">Email address</label>
                        </div>
                    </div>

                    <div class="col-12 mt-3">
                        <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="contact-form-message"
                                  name="message" style="height: 200px" required></textarea>
                            <label for="contact-form-message">Message</label>
                        </div>
                    </div>

                    <div class="col-12 mt-3">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success float-end" id="send-message"
                                data-bs-dismiss="modal">Send message
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
