{% load crispy_forms_tags %}

<div class="row justify-content-md-center">
    <div class="col-xl-7 col-lg-7 col-md-10">

        <div class="contact-form-container">

            <form id="contact-form" method="post" class="row mb-3">
                <h1 class="text-center mb-3">Contact me</h1>
                {% csrf_token %}

                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                <div class="col-6">
                    {{ form.name|as_crispy_field }}
                </div>

                <div class="col-6">
                    {{ form.email|as_crispy_field }}
                </div>

                <div class="col-12">
                    {{ form.message|as_crispy_field }}
                </div>

                <div>
                    <button type="submit" class="btn btn-primary float-end mt-3">Send Message</button>
                </div>
            </form>
        </div>
    </div>
</div>