{% if messages %}
    <div class="row justify-content-md-center mt-100 py-3">
        <div class="col-xl-7 col-lg-9 px-4">
            {% for message in messages %}
                {% ifchanged %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        <p style="margin-bottom: 0; font-size: 1.2em;">{{ message|safe }}</p>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endifchanged %}
            {% endfor %}
        </div>
    </div>
{% endif %}