{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Create Post
{% endblock %}

{% block content %}
    <div class="global-container">
        {% include 'includes/messages.html' %}

        <div class="row justify-content-md-center mt-90">
            <div class="col-xl-8 col-lg-9 col-md-10">

                <form action="" method="post" class="row g-3 mb-3 white-box" enctype="multipart/form-data">
                    <h2 class="mb-3 text-center">Create <b>New Post</b></h2>
                    <ul class="nav nav-tabs nav-pills nav-fill mb-5">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'create_post' %}">Bulk photo upload</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">One-by-one photo upload</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">From existing album</a>
                        </li>
                    </ul>
                    {% csrf_token %}

                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}

                    <div class="col-10">
                        {{ form.title|as_crispy_field }}
                    </div>

                    <div class="col-2">
                        {{ form.status|as_crispy_field }}
                    </div>

                    <div class="col-12">
                        {{ form.text|as_crispy_field }}
                    </div>

                    <div class="col-12">
                        {{ form.tags|as_crispy_field }}
                    </div>
                    <h3 class="py-2">Post Photos</h3>

                    <!-- Post Photos -->

                {% crispy select_album_form %}

                    <div class="col-lg-12 mt-3">
                        <div class="row">
                            <div class="col-2">
                                <a href="{% url 'blog' %}"
                                   class="btn btn-outline-secondary w-100 mb-3">Cancel</a>
                            </div>
                            <div class="col-10">
                                <button type="submit" class="btn btn-success w-100 mb-3">Create Post</button>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
{% endblock content %}
