{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Edit Post
{% endblock %}


{% block content %}
    {% include 'includes/small_header.html' %}


    <div class="container-fluid">
        <div class="d-flex align-items-center py-5">
            <div class="col-12 col-md-9 col-lg-6 mx-auto">

                <form action="" method="POST" enctype="multipart/form-data">

                    {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field.errors }}
                        {{ hidden_field }}
                    {% endfor %}

                    {% csrf_token %}

                    {{ form.management_form }}
                    {{ form.non_form_errors }}

                    <h3>Update Post</h3>

                    {{ post_form|crispy }}

                    {% for photo_form in form.forms %}
                        <hr>
                        <h5>
                            {% if photo_form.instance.id %}
                                Photo: {{ photo_form.instance.title|title }}<br>
                                <img src="{{ photo_form.instance.image.url }}" alt="" style="width: 100%; padding: 7px;">
                            {% else %}
                                {% if form.forms|length > 1 %}
                                    Add another photo
                                {% else %}
                                    Add a photo
                                {% endif %}
                            {% endif %}
                        </h5>

                        {% for hidden_field in photo_form.hidden_fields %}
                            {{ hidden_field.errors }}
                        {% endfor %}

                        {{ photo_form|crispy }}

                    {% endfor %}

                    <button type="submit" class="btn btn-success w-100 mb-3">Update Post</button>

                </form>
            </div>
        </div>
    </div>


{% endblock %}