{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Create Post{% endblock %}

{% block content %}
    <div class="global-container">
        {% include 'includes/messages.html' %}

        <div class="row justify-content-md-center">
            <div class="col-xl-8 col-lg-9 col-md-10">

                <form action="" method="post" class="row g-3 mb-3 white-box"
                      enctype="multipart/form-data">
                    <h2 class="mb-0 text-center">Create <b>New Post</b></h2>
                    <div class="col-12">
                        <hr class="half-gradient-hr">
                    </div>

                    <div class="col-12">
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item list-group-item-action list-group-item-light w-50 text-center">
                                <a href="{% url 'blog:create_bulk' %}" style="text-decoration: none; color: black;">Bulk
                                    photo upload</a>
                            </li>
                            <li class="list-group-item list-group-item-action list-group-item-warning w-50 text-center">
                                <a href="{% url 'blog:create' %}"
                                   style="text-decoration: none; color: black; font-weight: bold;">One-by-one photo
                                    upload</a>
                            </li>
                        </ul>
                    </div>

                    {% csrf_token %}

                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}

                    <div class="col-10">
                        {{ form.title|as_crispy_field }}
                    </div>

                    <div class="col-2">
                        {{ form.status|as_crispy_field }}
                    </div>

                    <div class="col-12">
                        {{ form.text|as_crispy_field }}
                    </div>

                    <div class="col-12">
                        {{ form.tags|as_crispy_field }}
                    </div>

                    <div class="col-12">
                        <h3 class="mt-2 text-center">Post Photos</h3>
                    </div>
                    <hr class="half-gradient-hr">
                    <div class="form-group py-2">
                        <input type="checkbox" class="form-check-input" name="new_album" id="new-album" checked>
                        <label class="form-check-label" for="new-album">Create a new album with this post photos</label>
                    </div>

                    <div class="col-12">
                        <div class="row" id="post_form">

                            {% for formset in inlines %}
                                {{ formset.management_form }}
                                {{ formset|as_crispy_errors }}

                                {% for photo_form in formset %}

                                    <div class="col-md-12 col-lg-6 p-2 d-inline-flex align-self-stretch image-form">
                                        <div class="form-photo-box w-100">
                                            <div class="d-flex justify-content-between pt-2 px-2">
                                                <div><b>Add a photo</b></div>
                                                <i class="bi bi-x-lg delete-image-form" data-tooltip="Remove form"></i>
                                            </div>
                                            <div class="p-2">
                                                {{ photo_form|crispy }}
                                            </div>

                                        </div>
                                    </div>

                                    <div id="form-end-hidden" style="display: none;"></div>
                                {% endfor %}
                                <div class="col-12">
                                    <button id="add-image-form" class="btn btn-link my-2" style="text-decoration: none;"
                                            data-tooltip="Add another photo"><i class="bi bi-plus-lg"></i></button>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-lg-12 mt-2">
                        <div class="d-flex justify-content-between py-2">
                            <a href="{% url 'blog:home' %}" style="width:200px; min-width:75px;"
                               class="btn btn-outline-secondary">Cancel</a>
                            <button type="submit" class="btn btn-success ml-2"
                                    style="width:100%; min-width:120px; margin-left:10px;">Create Post
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
