{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Edit Post {{ post.title }}{% endblock %}

{% block content %}
    <div class="global-container">
        {% include 'includes/messages.html' %}

        <div class="row justify-content-md-center mt-30">
            <div class="col-xl-8 col-lg-9 col-md-10">

                <form action="" method="post" class="row g-3 mb-3 white-box" enctype="multipart/form-data">
                    <h2 class="mb-3 text-center">Edit Post <b>{{ post.title }}</b></h2>
                    {% csrf_token %}

                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}

                    <div class="col-10">
                        {{ form.title|as_crispy_field }}
                    </div>

                    <div class="col-2">
                        {{ form.status|as_crispy_field }}
                    </div>

                    <div class="col-12">
                        {{ form.text|as_crispy_field }}
                    </div>

                    <div class="col-12">
                        {{ form.tags|as_crispy_field }}
                    </div>

                    <h3 class="mt-2 text-center">Post Photos</h3>
                    <hr class="half-gradient-hr">

                    <div class="col-12">
                        <div class="row" id="post_form">

                            {% for formset in inlines %}
                                {{ formset.management_form|crispy }}
                                {{ formset|as_crispy_errors }}
                                {% for photo_form in formset %}

                                    {% if photo_form.instance.id %}
                                        <div class="col-md-12 col-lg-6 p-2 d-inline-flex align-self-stretch">
                                            <div class="form-photo-box w-100">
                                                <img src="{{ photo_form.instance.image.url }}" alt=""
                                                     style="width: 100%; border-top-left-radius: 8px; border-top-right-radius: 8px;">
                                                <div class="p-2">
                                                    {{ photo_form|crispy }}
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="col-md-12 col-lg-6 p-2 d-inline-flex align-self-stretch image-form">
                                            <div class="form-photo-box w-100">
                                                <div class="d-flex justify-content-between pt-2 px-2">
                                                    <div><b>Add a photo</b></div>
                                                    <i class="bi bi-x-lg delete-image-form"
                                                       data-tooltip="Remove form"></i>
                                                </div>
                                                <div class="p-2">
                                                    {{ photo_form|crispy }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}


                                {% endfor %}
                                <div id="form-end-hidden" style="display: none;"></div>
                                <div class="col-12">
                                    <button id="add-image-form" class="btn btn-link my-2" style="text-decoration: none;"
                                            data-tooltip="Add another photo"><i class="bi bi-plus-lg"></i></button>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <div class="d-flex justify-content-between py-2">
                            <a href="{% url 'blog:post_detail' post.slug %}" style="width:200px; min-width:75px;"
                               class="btn btn-outline-secondary">Cancel</a>
                            <button type="submit" class="btn btn-success ml-2"
                                    style="width:100%; min-width:120px; margin-left:10px;">Update Post
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

