{% extends '_base.html' %}
{% load comments comments_xtd social_share hitcount_tags %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}

    {% if post %}
        <div class="row justify-content-md-center">

            <div class="col-lg-12">
                <div class="post-header-img"
                     style="background-image: url({{ post.get_featured_image_url }}); background-size: cover;">

                    <!-- Post Title Section -->
                    <div class="post-info-container text-center px-3 px-sm-5 py-1 py-sm-3">
                        <h1>{{ post.title }}</h1>
                        <hr class="half-gradient-hr">
                        <h6>By <b>{{ post.author|title }}</b>
                            on <b>{{ post.created_on|date:"d M Y" }}</b>&#8201;&#8201;
                            {% get_comment_count for object as comment_count %}
                            {{ comment_count }}&#8201;<i class="bi bi-chat"
                                                         data-tooltip="{{ comment_count }} comment{{ comment_count|pluralize }}"></i>&#8201;
                            {% get_hit_count for post as hit_count %}
                            {{ hit_count }}&#8201;<i class="bi bi-eye-fill"
                                                     data-tooltip="{{ hit_count }} view{{ hit_count|pluralize }}"></i>
                        </h6>

                        <!-- Post Tags Section -->
                        {% for tag in post.tags.all %}
                            <div class="post-action-tag" data-tooltip="See posts with this tag">
                        <span class="badge rounded-pill bg-secondary"
                              style="font-size: calc(0.5vw + 7px); cursor: pointer;"><a
                                href="{% url 'blog:search_by_tag' tag %}"
                                style="text-decoration: none; color: #fff;">{{ tag }}</a></span>
                            </div>
                        {% endfor %}

                        {% if request.user.is_authenticated and request.user.is_staff %}
                            <div id="tag-form" class="post-action-form" data-tooltip="Add tags">
                                <form action="{% url 'blog:add_tags' post.slug %}" method="post"
                                      autocomplete="off">
                                    {% csrf_token %}
                                    <input type="text" name="new_tags">
                                    <input type="submit" hidden/>
                                </form>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>

            <!-- Messages Section -->
            <div class="col-lg-9 text-center mb-0">
                {% include 'includes/messages.html' %}
            </div>

            <!-- Post Management Section -->
            <div class="col-lg-7 text-center mt-3">
                {% if request.user.is_authenticated and request.user.is_staff %}
                    <div class="d-flex justify-content-center align-items-center mt-2">
                        <a class="action-button edit-button" data-tooltip="Edit post"
                           href="{% url 'blog:update' post.slug %}">
                            <i class="bi bi-pencil-square"></i></a>

                        <a class="action-button delete-button" data-tooltip="Delete post"
                           href="{% url 'blog:delete' post.slug %}">
                            <i class="bi bi-trash"></i></a>
                    </div>
                {% endif %}

                <!-- Post Content Section -->
                {% if post.text %}
                    {% autoescape off %}
                        <div class="post-text mt-4">{{ post.text|linebreaks }}</div>
                    {% endautoescape on %}
                {% endif %}

                {% if post.post_photos %}
                    {% for photo in post.post_photos.all %}
                        <img src="{{ photo.image.url }}" alt="" style="width: 100%; padding: 7px;">
                        {% if photo.description %}
                            <h6>{{ photo.description|linebreaks }}</h6>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if post.is_published %}
                    <div class="d-flex justify-content-center align-items-center">
                        {% post_to_facebook object_or_url "Share on Facebook" %}
                        {% post_to_whatsapp object_or_url "Share via WhatsApp" %}
                        {% save_to_pinterest object_or_url "Save to pinterest" %}
                    </div>
                {% endif %}
            </div>


            <!-- Comments Section -->
            <div class="col-lg-7 p-3">

                <div class="card card-block m-1">
                    <div class="card-body px-md-5">

                        <div class="py-4 text-center">
                            <a href="{% url 'blog:home' %}">Back to the post list</a>
                            &nbsp;&sdot;&nbsp;
                            {{ comment_count }} comment{{ comment_count|pluralize }}
                            ha{{ comment_count|pluralize:"s,ve" }} been posted.
                        </div>

                        {% if comment_count %}
                            <div class="comments">
                                {% render_xtdcomment_tree for post %}
                            </div>
                        {% endif %}
                        <h4 class="card-title text-center pb-3">Post your comment</h4>
                        {% render_comment_form for post %}
                    </div>
                </div>

                {% for object in object_list %}
                    ...
                    {% get_comment_count for object as comment_count %}
                    <p class="date">Published {{ object.publish }}
                        {% if comment_count %}
                            &sdot;&nbsp;{{ comment_count }} comment{{ comment_count|pluralize }}
                        {% endif %}
                    </p>
                    ...
                {% endfor %}
            </div>
            <!-- End Comments Section -->

        </div>
    {% endif %}
{% endblock %}

{% block javascript %}
    {% add_pinterest_script %}
{% endblock %}
