{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">

    <title>{% block title %}Untitled{% endblock %}</title>

    {% block stylesheet %}{% endblock %}

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Swiper -->
    <link
            rel="stylesheet"
            href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
    />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aladin&family=Cabin+Sketch:wght@700&family=Chango&family=Cinzel+Decorative:wght@700&family=Londrina+Outline&family=Offside&family=Piedra&family=Saira+Stencil+One&family=Spirax&family=Zilla+Slab+Highlight:wght@700&display=swap"
          rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet"/>


    <!-- Custom styles-->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>

<main>
    {% include 'includes/_navbar.html' %}

    {% block content %}{% endblock %}

</main>


{% include 'includes/footer.html' %}

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

<script src="{% static 'js/main.js' %}"></script>

{% block javascript %}{% endblock %}


<script>
    $(window).scroll(function () {
        if ($(document).scrollTop() > 50) {
            $('.main-nav').addClass('affix');
        } else {
            $('.nav').removeClass('affix');
        }
    });

    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl, {html: true})
    })


    $(document).ready(function () {
        $("#contact-form").on('submit', function (e) {
            e.preventDefault();

            $.ajax({
                type: 'POST',
                url: '{% url "accounts:send_message" %}',
                data: {
                    name: $('#contact-form-name').val(),
                    email: $('#contact-form-email').val(),
                    message: $('#contact-form-message').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    dataType: "json",
                },
                success: function (json) {
                    alert(json['msg']);
                },
                error: function (xhr, errmsg, err) {
                }
            })
        });
    });

</script>


</body>
</html>