{% extends "_base.html" %}
{% load i18n %}

{% block title %}{% trans "Remove a comment" %}{% endblock %}

{% block content %}
    <div class="global-container">

        <div class="row justify-content-md-center mt-30">
            <div class="col-lg-8 col-md-10 white-box">
                <h3><a style="text-decoration: none;" href="{{ comment.get_absolute_url }}">&#8592; Go Back</a></h3>
                <h1 class="mb-3">{% trans "Are you sure you want to remove this comment?" %}</h1>
                <blockquote>{{ comment|linebreaks }}</blockquote>
                <form action="." method="post">{% csrf_token %}
                    {% if next %}
                        <div><input type="hidden" name="next" value="{{ next }}" id="next"/></div>{% endif %}
                    <p class="submit">
                        <input type="submit" class="btn btn-danger" name="submit" value="{% trans "Remove" %}"/>
                    </p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
