{% load i18n %}
{% load comments %}

<form method="POST" action="{% comment_form_target %}" onsubmit="post.disabled = true; return true;">
    {% csrf_token %}
    <fieldset>
        <input type="hidden" name="next" value="{% url 'comments-xtd-sent' %}"/>

        <div class="alert alert-danger" data-comment-element="errors" hidden>
        </div>

        {% for field in form %}
            {% if field.is_hidden %}
                <div>{{ field }}</div>{% endif %}
        {% endfor %}

        <div style="display:none">{{ form.honeypot }}</div>


        <div class="row g-3">

            <div class="col-6">
                {% if not request.user.is_authenticated or not request.user.get_full_name %}
                    <div class="form-floating comment-input">
                        {{ form.name }}
                        <label for="email">{{ form.name.label }}</label>
                    </div>
                {% endif %}
            </div>

            <div class="col-6">
                {% if not request.user.is_authenticated or not request.user.get_full_name %}
                    <div class="form-floating comment-input">
                        {{ form.email }}
                        <label for="email">{{ form.email.label }}</label>
                    </div>
                {% endif %}
            </div>

            <div class="col-md-12 form-floating comment-input {% if 'comment' in form.errors %}has-danger{% endif %}">
                {{ form.comment }}
                <label for="comment" class="px-3">{{ form.comment.label }}</label>
            </div>

            <div class="col-auto mb-1">
                <div class="form-check">
                    <div class="custom-control custom-checkbox">
                        {{ form.followup }}
                        <label for="id_followup{% if cid %}_{{ cid }}{% endif %}"
                               class="custom-control-label">&nbsp;{{ form.followup.label }}</label>
                    </div>
                </div>
            </div>
    </fieldset>

    <div class="row form-group">
        <div class="col-12 text-center">
            <input type="submit" name="preview" value="{% trans 'Preview' %}" class="btn btn-sm btn-outline-secondary"/>
            <input type="submit" name="post" value="{% trans 'Post' %}" class="btn btn-sm btn-primary"/>
        </div>
    </div>
</form>