{% extends "_base.html" %}
{% load i18n %}

{% block title %}{% trans "Preview your comment" %}{% endblock %}

{% block content %}

    {% load comments %}
    <div class="global-container">

        <div class="row justify-content-md-center mt-30">
            <div class="col-lg-8 col-md-10 white-box">

                <form action="{% comment_form_target %}" method="post">{% csrf_token %}
                    {% if next %}
                        <div><input type="hidden" name="next" value="{{ next }}"/></div>{% endif %}
                    {% if form.errors %}
                        <h1>{% blocktrans count counter=form.errors|length %}Please correct the error below{% plural %}
                            Please correct the errors below{% endblocktrans %}</h1>
                    {% else %}
                        <div class="text-center">
                            <h1 class="subheading">{% trans "Preview your comment" %}</h1>
                        </div>
                        <div class="bg-light p-3 mb-2">
                            <blockquote>{{ comment|linebreaks }}</blockquote>
                        </div>
                        <p>
                            <input id="submit" type="submit" name="submit" class="submit-post btn btn-primary"
                                   value="{% trans "Post your comment" %}"/>
                            {# Translators: This string follows the 'Post your comment' submit button. #}
                            {% trans "or make changes" %}:
                        </p>
                    {% endif %}
                    {% for field in form %}
                        {% if field.is_hidden %}
                            <div>{{ field }}</div>
                        {% else %}
                            {% if field.errors %}{{ field.errors }}{% endif %}
                            <p
                                    {% if field.errors %} class="error"{% endif %}
                                    {% if field.name == "honeypot" %} style="display:none;"{% endif %}>
                                {{ field.label_tag }} {{ field }}
                            </p>
                        {% endif %}
                    {% endfor %}
                    <p class="submit">
                        <input type="submit" name="preview" class="submit-preview btn btn-outline-secondary"
                               value="{% trans "Preview" %}"/>
                        <input type="submit" name="submit" class="submit-post btn btn-primary"
                               value="{% trans "Post" %}"/>
                    </p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
