{% extends '_base.html' %}

{% load crispy_forms_tags %}
{% load cloudinary %}

{% block content %}
    <div class="container global-container">

        {% include 'includes/messages.html' %}

        <div id='backend_upload' class="white-box mt-3">
            <h1>Add New Photo</h1>
            <hr class="half-gradient-hr">
            <form class="form-container" action="{% url "photos:add_photo" %}" method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}
                {% crispy backend_form %}
                <input type="submit" value="Upload">
            </form>
        </div>
    </div>
{% endblock %}
