{% extends '_base.html' %}

{% load cloudinary %}
{% load crispy_forms_tags %}

{% block title %}
    Add Photos
{% endblock %}

{% block content %}
    {% include 'includes/small_header.html' %}
    <div class="container" style="max-width: 650px">
        <h1>Add New Photos</h1>
        <a href="{% url 'photos:photo_list' %}">Latest Photos</a>
        <form id="form-container" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ photo_formset.management_form }}
            {% for form in photo_formset %}
                <div class="photo-form">
                    {{ form|crispy }}
                </div>
                <hr>
                <p></p>
            {% endfor %}

            <div class="d-grid gap-2">
                <button class="btn btn-outline-primary" id="add-form" type="button">Add More</button>
                <button class="btn btn-primary" type="submit">Upload Photos</button>
            </div>
        </form>


        <script>
            let photoForm = document.querySelectorAll(".photo-form")
            let container = document.querySelector("#form-container")
            let addButton = document.querySelector("#add-form")
            let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

            let formNum = photoForm.length - 1
            addButton.addEventListener('click', addForm)

            function addForm(e) {
                e.preventDefault()

                let newForm = photoForm[0].cloneNode(true)
                let formRegex = RegExp(`form-(\\d){1}-`, 'g')

                formNum++
                newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
                container.insertBefore(newForm, addButton)

                totalForms.setAttribute('value', `${formNum + 1}`)
            }
        </script>

    </div>
{% endblock %}