{% extends '_base.html' %}

{% block title %}
    Albums
{% endblock %}

{% block content %}

    <div class="container global-container text-center">

        {% include 'includes/messages.html' %}

        <h1 class="subheading">Portfolio</h1>
        <hr class="half-gradient-hr">

        <div class="row">
            {% for album in albums %}

                <div class="col-md-12 col-lg-6 {% if not album.is_published %} unpublished {% endif %}">
                    <div class="blog-card"
                         style="background: url({{ album.get_featured_image_url }}) center no-repeat; cursor: pointer;"
                         onclick="location.href='{{ album.get_absolute_url }}';">
                        <div class="title-content">
                            <h3>{{ album.title|title }}</h3>
                        </div>
                        <div class="utility-info">
                            <ul class="utility-list">
                                {% if album.is_published %}
                                    <li><i class="bi bi-calendar"></i>&nbsp; {{ album.published_on|date:"d M Y" }}</li>
                                {% elif album.is_draft %}
                                    <li><i class="bi bi-pencil-square"></i>&nbsp; Draft album</li>
                                {% elif album.is_private %}
                                    <li><i class="bi bi-shield-lock"></i>&nbsp; Private album</li>
                                {% endif %}

                                <li><i class="bi bi-images"></i> {{ album.photos.all.count }}</li>
                            </ul>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>

    </div>
{% endblock %}