{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Create Album
{% endblock %}

{% block content %}
    <div class="global-container">
        {% include 'includes/messages.html' %}

        <div class="row justify-content-md-center">
            <div class="col-xl-8 col-lg-9 col-md-10">

                <form action="" method="post" class="row g-3 mb-3 white-box" enctype="multipart/form-data">
                    <h2 class="mb-0 text-center">Create <b>New Album</b></h2>
                    <div class="col-12">
                        <hr class="half-gradient-hr">
                    </div>

                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item  list-group-item-action list-group-item-warning w-100 text-center">
                            <a href="{% url 'photos:album_create_bulk' %}"
                               style="text-decoration: none; color: black; font-weight: bold;">Bulk photo upload</a>
                        </li>
                        <li class="list-group-item list-group-item-action list-group-item-light w-100 text-center">
                            <a href="{% url 'photos:album_create' %}" style="text-decoration: none; color: black;">One-by-one
                                photo upload</a>
                        </li>

                    </ul>

                    {% csrf_token %}

                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}

                    <div class="col-10">
                        {{ form.title|as_crispy_field }}
                    </div>

                    <div class="col-2">
                        {{ form.status|as_crispy_field }}
                    </div>

                    <!-- Album Photos -->
                    <div class="col-12">
                        <h3 class="mt-2 text-center">Album Photos</h3>

                        <input class="form-control form-control" type="file" accept="image/*" id="photos"
                               name="photos" multiple>
                        {% for error in form.photos.errors %}
                            <small class="text-danger ml-2">{{ error }}</small>
                        {% endfor %}
                    </div>

                    <div class="col-lg-12 mt-3">
                        <div class="d-flex justify-content-between py-2">
                            <a href="{% url 'photos:albums' %}" style="width:200px; min-width:80px;"
                               class="btn btn-outline-secondary">Cancel</a>
                            <button type="submit" class="btn btn-success ml-2"
                                    style="width:100%; min-width:130px; margin-left:10px;">Create Album
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
