{% extends '_base.html' %}
{% load comments comments_xtd social_share hitcount_tags crispy_forms_filters %}

{% block title %}
    {{ album.title|title }}
{% endblock %}

{% block stylesheet %}
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"
    />
{% endblock %}

{% block content %}
    <div class="global-container">
        {% include 'includes/messages.html' %}

        {% if album %}

            <div class="container text-center">
                <h1>{{ album.title|title }}</h1>
                <hr class="half-gradient-hr">
                <div class="mb-5">
                    <div>
                        {% if request.user.is_authenticated and request.user.is_staff %}
                            <div class="d-flex justify-content-center align-items-center mb-2">
                                <a class="action-button edit-button" data-tooltip="Edit album"
                                   href="{% url 'photos:album_update' album.slug %}">
                                    <i class="bi bi-pencil-square"></i></a>

                                <a class="action-button delete-button" data-tooltip="Delete album"
                                   href="{% url 'photos:album_delete' album.slug %}">
                                    <i class="bi bi-trash"></i></a>

                                {% if album.is_private %}

                                    <a class="action-button private-share-button" data-bs-toggle="modal"
                                       href="#albumTokensModal" data-tooltip="Album tokens"
                                       role="button"><i class="bi bi-shield-lock"></i></a>

                                    <!-- Album Token Modal -->
                                    <div class="modal fade" id="albumTokensModal"
                                         aria-labelledby="albumTokensModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" id="albumTokensModalLabel">Generated Tokens
                                                        for
                                                        <b>{{ album.title|title }}</b></h4>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <table class="table table-hover">
                                                        <thead>
                                                        <tr>
                                                            <th scope="col">Token Url</th>
                                                            <th scope="col">Expiry Date</th>
                                                            <th scope="col">Action</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for token in album_tokens %}
                                                            <tr>
                                                                <form action="{% url 'photos:update_token' token.id %}"
                                                                      method="post">
                                                                    <td id="privateAlbumTokenUrl{{ forloop.counter }}"
                                                                        class="album-token-url">
                                                                        {{ token.get_full_url }}</td>
                                                                    <td>{{ token.expiry_date|date:"d M Y" }}</td>

                                                                    <td>
                                                                        <div class="d-flex justify-content-around">
                                                                            <i class="bi bi-link"
                                                                               style="color:blue; font-size: 20px; cursor:pointer;"
                                                                               onclick="location.href='{% url 'photos:private_album' token.token %}';"
                                                                               data-tooltip="Got to private album"
                                                                            ></i>
                                                                            <i class="bi bi-files"
                                                                               style="color:green; font-size: 20px; cursor:pointer;"
                                                                               onclick=" copyToClipboard('privateAlbumTokenUrl{{ forloop.counter }}')"
                                                                               data-tooltip="Copy link"
                                                                            ></i>
                                                                            <i class="bi bi-trash"
                                                                               style="color:red; font-size: 20px; cursor:pointer;"
                                                                               data-tooltip="Remove token"
                                                                               onclick="location.href='{% url 'photos:delete_token' token.id %}';"
                                                                            ></i>

                                                                        </div>
                                                                    </td>
                                                                </form>
                                                            </tr>

                                                        {% empty %}
                                                            <b2>No album tokens</b2>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>

                                                </div>
                                                <div class="modal-footer">

                                                    <button type="button" class="btn btn-outline-secondary"
                                                            data-bs-dismiss="modal">
                                                        Close
                                                    </button>

                                                    <button type="button" class="btn btn-primary"
                                                            data-bs-target="#createTokenModal" data-bs-toggle="modal"
                                                            data-bs-dismiss="modal">Create new token
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Album Token Creation Modal -->
                                    <div class="modal fade" id="createTokenModal" aria-hidden="true"
                                         aria-labelledby="createTokenModalLabel" tabindex="-1">
                                        <div class="modal-dialog modal-lg modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="createTokenModalLabel">Share Private
                                                        Album</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <form action="{% url 'photos:create_token' album.slug %}" method="post">
                                                    <div class="modal-body row">
                                                        <h3 class="mb-5">Create new token for album
                                                            <b>{{ album.title|title }}</b></h3>
                                                        {% csrf_token %}
                                                        {{ album_token_form.album }}
                                                        <div class="col-6">{{ album_token_form.token|as_crispy_field }}</div>
                                                        <div class="col-6">{{ album_token_form.expiry_date|as_crispy_field }}</div>

                                                        <div class="col-12">
                                                            <button type="submit" class="btn btn-success mt-5 float-end"
                                                            >Create token
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-outline-secondary"
                                                                data-bs-dismiss="modal" data-bs-toggle="modal">
                                                            Close
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    </div>

                                {% endif %}
                            </div>
                        {% endif %}


                    <section class="album-container">
                        <div class="masonry masonry--h">
                            {% for photo in album.photos.all %}
                                <figure class="masonry-brick masonry-brick--h">
                                    <a data-fancybox="gallery" href="{{ photo.image.url }}"><img
                                            src="{{ photo.image.url }}"
                                            alt="" class="masonry-img"></a>
                                </figure>
                            {% endfor %}
                        </div>
                    </section>
                    {% if album.is_published %}
                        <div>
                            {% post_to_facebook object_or_url "Share on Facebook" %}
                            {% post_to_whatsapp object_or_url "Share via WhatsApp" %}
                        </div>
                    {% endif %}
                </div>

            </div>
        {% endif %}
    </div>


{% endblock content %}

{% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>
{% endblock javascript %}