{% extends '_base.html' %}

{% load static %}

{% block title %}
    Django Photography
{% endblock %}

{% block content %}


    <div id="carousel-title-container">

        <div id="homepage_carousel" class="carousel slide" data-bs-ride="carousel">

            <div class="homepage-title">
                <div class="d-flex align-items-center justify-content-center mx-auto">
                    <div class="header-heading">
                        <h1 class="font-weight-bold main-heading">live, lough, love</h1>
                        <br>
                        <h1 class="font-weight-bold sub-heading">remember</h1>
                    </div>
                </div>
            </div>

            <div class="carousel-indicators">
                <button type="button" data-bs-target="#homepage_carousel" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#homepage_carousel" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#homepage_carousel" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#homepage_carousel" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
            </div>


            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'images/colibita2.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/colibita3.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/colibita4.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/colibita5.jpg' %}" class="d-block w-100" alt="...">
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#homepage_carousel"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#homepage_carousel"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <!-- Swiper for albums -->
    <div class="text-center mt-5"><h1 class="subheading">Latest Albums</h1></div>
    <div class="swiper mySwiper p-3">
        <div class="swiper-wrapper">
            {% for album in albums %}
                <div class="swiper-slide">
                    <div class="blog-card"
                         style="background: url({{ album.get_featured_image_url }}) center no-repeat; cursor: pointer;"
                         onclick="location.href='{{ album.get_absolute_url }}';">
                        <div class="title-content">
                            <h4>{{ album.title|title }}</h4>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
    </div>

    <!-- Swiper for posts -->
    <div class="text-center mt-5"><h1 class="subheading">Latest Posts</h1></div>
    <div class="swiper mySwiper p-3">
        <div class="swiper-wrapper">
            {% for post in posts %}
                <div class="swiper-slide">
                    <div class="blog-card"
                         style="background: url({{ post.get_featured_image_url }}) center no-repeat; cursor: pointer;"
                         onclick="location.href='{{ post.get_absolute_url }}';">
                        <div class="title-content"><h4>{{ post.title|title }}</h4></div>
                        <div class="card-info">
                            {% autoescape off %}
                                {{ post.text|truncatewords:25|linebreaks }}
                            {% endautoescape %}
                        </div>
                        <div class="gradient-overlay"></div>
                        <div class="color-overlay"></div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
    </div>

    <!-- About me section -->
    <div class="text-center mt-5"><h1 class="subheading">About Me</h1></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-end px-5 py-0"><i class="bi bi-person-circle"
                                                                       style="font-size: calc(22vmin + 50px);"></i>
            </div>
            <div class="col-md-6 text-center text-md-start">
                <h3 class="about-me-subheading mt-md-5">My name is John Doe</h3>
                <p class="about-me-text">I believe in capturing moments asa they happen.<br>
                    My style is natural and vibrant.<br>
                    I love capturing new memories of fresh, little ones as well as connections and relationships in
                    families.<br>
                    I truly look forward to meeting you! <br> <br>
                    J.D.
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script>
        const swiper = new Swiper(".mySwiper", {
            slidesPerView: 3,
            spaceBetween: 20,
            breakpoints: {
                100: {
                    slidesPerView: 1,
                    spaceBetween: 20
                },
                480: {
                    slidesPerView: 2,
                    spaceBetween: 20
                },
                1080: {
                    slidesPerView: 3,
                    spaceBetween: 20
                }
            },
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            grabCursor: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
        });
    </script>
{% endblock %}