{% extends '_base.html' %}
{% load social_share hitcount_tags %}

{% block title %}
    {{ photo.title }}
{% endblock %}

{% block content %}
    <div class="p-md-3" style="margin-top: 100px;">

        <div class="row justify-content-md-center">

            <!-- Messages Section -->
            <div class="col-lg-9 text-center mb-0">
                {% include 'includes/messages.html' %}
            </div>

            <div class="col-xl-7 col-lg-10 photo-card" style="background: url({{ photo.image.url }}) center no-repeat;">
                <img src="{{ photo.image.url }}" alt="" style="visibility: hidden; width: 100%;">
            </div>

            <div class="d-flex justify-content-center align-items-center">
                {% post_to_facebook photo.get_absolute_url "Share on Facebook" %}
                {% post_to_whatsapp photo.get_absolute_url "Share onvia WhatsApp" %}
                {% save_to_pinterest get_absolute_url "Save to pinterest" %}
            </div>

        </div>
    </div>



{% endblock %}

{% block javascript %}{% add_pinterest_script %}{% endblock %}