{% extends '_base.html' %}
{% load social_share crispy_forms_tags %}

{% block title %}
    {{ album.title|title }}
{% endblock %}

{% block stylesheet %}
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"
    />
{% endblock %}

{% block content %}
    <div class="global-container">
        {% include 'includes/messages.html' %}

        {% if album %}

            <div class="container text-center ">
                <h1>{{ album.title|title }}</h1>
                <hr class="half-gradient-hr mb-5">
                <section>

                    {% csrf_token %}
                    <div class="photo-grid">
                        {% for photo in album.photos.all %}
                            <figure class="photo-container">
                                <a data-fancybox="gallery" href="{{ photo.image.url }}"><img
                                        src="{{ photo.image.url }}"
                                        alt="" id="{{ photo.id }}"
                                        class="grid-img {% if photo.id in favorite_photos %}favorite-img{% endif %}"></a>

                                <div class="g-flex justify-content-end image-action-container">
                                    <button class="btn bg-transparent border-0 image-action-icon p-0 like-button"
                                            value="{{ photo.id }}">
                                        <i class="bi {% if photo.id in favorite_photos %}bi-suit-heart-fill{% else %}bi-suit-heart{% endif %}"
                                           id="like-icon-{{ photo.id }}"></i>
                                    </button>
                                    <button class="btn bg-transparent border-0 image-action-icon p-0"
                                            id="download-button"><a href="{{ photo.image.url }}"
                                                                    download="{{ photo.title }}">
                                        <i class="bi bi-download"></i>
                                    </a>
                                    </button>
                                    <button class="btn bg-transparent border-0 image-action-icon p-0"
                                            id="share-button"
                                            data-bs-toggle="modal" data-bs-target="#photoShareModal">
                                        <i class="bi bi-share"></i>
                                    </button>
                                </div>
                            </figure>

                            <div class="modal fade" id="photoShareModal"
                                 aria-labelledby="photoShareModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-sm modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div class="d-flex justify-content-between">
                                                <h5 id="photoShareModalLabel">Share photo</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            {% post_to_facebook photo.get_absolute_url "Share on Facebook" %}
                                            {% post_to_whatsapp photo.get_absolute_url "Share via WhatsApp" %}
                                            {% save_to_pinterest photo.get_absolute_url "Save to pinterest" %}

                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                </section>

            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>
    {% add_pinterest_script %}
    <script>
        $(document).ready(function () {
            $(".like-button").click(function () {
                let likeButton = $(this);
                $.ajax({
                    type: 'POST',
                    url: '{% url "photos:like_photo" %}',
                    data: {
                        photo_id: likeButton.val(),
                        album_token_id: {{ album_token_id }},
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                        action: 'post'
                    },
                    success: function (json) {
                        console.log(json);
                        let is_liked = json['is_liked'];
                        let photoId = json['photo_id'];
                        let likeIconId = 'like-icon-' + photoId
                        let likeIcon = document.getElementById(likeIconId);
                        likeIcon.classList.toggle("bi-suit-heart-fill", is_liked);
                        likeIcon.classList.toggle("bi-suit-heart", !is_liked);
                        let photoBox = document.getElementById(photoId);
                        photoBox.classList.toggle("favorite-img", is_liked);
                    },
                    error: function (xhr, errmsg, err) {
                    }
                })
            });
        });

    </script>
{% endblock %}